@import '../components/variables';

body{
    display: flex;
    max-width: 1700px;
    margin: auto;
    
    .left-container{
        background-color: rgb(255, 255, 255);
        min-height: 110vh;
        width: 296px;
        
        
    }

    .right-container{
        height: 100vh;
        flex-grow: 1;
    }
}