//fonts
$main-font: 10px;
$small-font: 8px;
$small-font-9: 9px;
$main_font-family: 'Inter', sans-serif;
$dashboard-title-font: 20px;


//colors text
$gray-text: #53545C;
$dark-gray-text: #45464E;
$light-gray-title: #BEC0CA;
$gray-ball-bag:  #F4F5FA;
$green-text: #519C66;
$dark-gray-title: #8B8D97;
$dark-gray-numbers: #45464E;
$red-text: red;

//colors bg
$bg-primary: #EEF0FA;
$bg-blue-icon: rgba(85, 112, 241, 0.12); 
$bg-yellow-icon:rgba(255, 204, 145, 0.16);

//colors div
$blue-ball: #5570F1;
$purple-ball:#97A5EB;
$orange-ball:#FFCC91;
$big-purple-box: #EEF0FA;
$blue-box-marketing: #5570F1;
$orange-box-marketing:#FFCC91;
$box-pending: rgba(246, 140, 140, 0.255);
$box-completed: rgba(127, 246, 169, 0.272);
//grid

$columns: 12;
$gap: 1rem;