@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import './layout/reset';
@import './components/variables';
@import './layout/flex';
@import './layout/boxes-style';
@import './layout/right-container';
@import './layout/login-page.scss';
@import './layout/grid';
@import './layout/right-container_d2';
@import './layout/media-query';
@import './layout/left-container';


